ContactManager/Connected Services/ContactService/ContactService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59221/ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContactManagerService.Model" />
  <xs:import schemaLocation="http://localhost:59221/ContactService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ContactManagerService.DB" />
  <xs:element name="GetContacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContactManagerService.Model" minOccurs="0" name="GetContactsResult" nillable="true" type="q1:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilteredContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContactManagerService.Model" minOccurs="0" name="GetFilteredContactsResult" nillable="true" type="q2:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ContactManagerService.DB" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q3:ArrayOfEmployees" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>